*
{
	padding: 0;
	margin:0;
}
body
{
	background: blue;
	color:white;
}

#wrap
{
width:100%;
background-color:#FFF;
margin:0 auto;
}
.header{
height:70px; 
width:100%;
background-color:black;
border-bottom: 2px solid #CCC;
position:fixed;

}
.profil
{
	height: 230px;
	width: 100px;
	background-color: red;
}